# ────────────────────────────────────────────────────────────────
#  __  __                         _           _   
# |  \/  |_   _   _ __  _ __ ___ (_) ___  ___| |_ 
# | |\/| | | | | | '_ \| '__/ _ \| |/ _ \/ __| __|
# | |  | | |_| | | |_) | | | (_) | |  __/ (__| |_ 
# |_|  |_|\__, | | .__/|_|  \___// |\___|\___|\__|
#         |___/  |_|           |__/               
#  Welcome to the your project! 🚀
#  Here are the dependencies to make your project work!
# ────────────────────────────────────────────────────────────────


# Basics for Jupyter notebooks
jupyter
ipykernel

# Package requirements for the project :
pandas
missingno
tqdm
matplotlib
seaborn
numpy

